* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    margin: 0;
    overflow: auto;
    box-shadow: 0 2px 2px #eee;
}

.navbar a {
    font-size: 20px;
    color: black;
    display: flex;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    color: white;
    background-color: #33AAEE;
}

.navbar a.right {
    float: right;
}

.navbar .icon {
    display: none;
}

.navbar .search-container {
    float: right;
    padding: 6px;
}

.navbar input[type=text] {
    float: left;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.navbar .search-container button {
    float: left;
    padding: 10px 14px;
    background: #eee;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #33AAEE;
}

.hero {
    margin: 0 160px;
    padding: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.row {
    margin: 0 160px;
    padding: 0 20px;
    display: flex;
}

.side {
    flex: 20%;
    padding: 20px;
}

.side a {
    display: block;
    padding: 4px;
    list-style-type: none;
}

.content {
    flex: 80%;
    padding: 20px;
}

.content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid black;
    list-style-type: none;
}

.content a:hover {
    background-color: #eee;
}

.footer {
    margin: auto;
    padding: 20px 180px;
    height: 120px;
    background-color: black;
}

.footer p {
    margin: 0;
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 700px) {
    .hero {
        margin: auto;
    }
    .row {
        margin: auto;
        flex-direction: column-reverse;
    }

    .footer {
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar .search-container {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 700px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .search-container {
        float: none;
        display: block;
    }
}

img {
    width: 100%;
}